body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header{
    height: 30px;
    text-align: center;
}

.main{
    height: 700px;
    width: 700px;
    border: 1px solid red;;
}